#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    padding: 0em;
    padding-top: 50vh;
    padding-bottom: 50vh;
    text-align: left;
    width: 100vw;
    height: 100%;
    gap: 10em;

  }




  .intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100vw;
    padding: 1em;
  }


  .statement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  .statement-list {
    display: block;
    align-self: center;
    width: 80%;

}

.statement-item {
  font-size: 4vw;
  display: inline;
  text-align: left;
  transition: .25 ease-out;
  opacity: 0.2;
  margin-left: 0.5em;
}

.statement-language {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 50%;
}

.statement-language-button {
  font-size: 5vw;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10%;
  z-index: 1;
}




.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1vw;
  background: white;
  transform-origin: 0%;
  border-bottom-right-radius: 50%;
}

@media (max-width: 734px) {

  .statement-item {
    font-size: 0.8em;
    display: inline;
    text-align: left;
    opacity: 0;
    margin-left: 0.5em;
  }
 
}