
.hey{
  font-size: 5em;
  padding-left: 1em;
}
#home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    box-sizing: border-box;
    margin: 0 auto;
    

    
  
   
  }
  
  @media (max-width: 734px) {
    #home {
      width: 100%;
      margin: 0 auto;
      .mix-blend {
          
            
              .myname {
                align-items: center;
                justify-content: center;
                text-align: center;
              
              }
      }
      
    
     
    }
    .myname h1 {
      font-size: 2em;
    }
  }