.ticker-item {
  padding-left: 1em;
  text-align: left;
  width: fit-content;

  }

  @media (max-width: 734px) {
    .ticker-item {
      padding-left: 0;
      text-align: center;
      height: fit-content;
      font-size: 0.5em;
      }
    
    
  }